/* CSS RESET - Jack Turner style, few enough rules you can grasp it in your mindbrain */
* {
    margin:             0;
    padding:            0;
    }
  
img {
    border:             none;
    vertical-align:     middle;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight:        normal;
    }

html {
    box-sizing:         border-box;
    }

*, *:before, *:after {
    box-sizing:         inherit;
    }


@font-face {
    font-family: 'poppins_regularregular';
    src: url('webfonts/poppins-regular.woff2') format('woff2'),
         url('webfonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinssemibold';
    src: url('webfonts/poppins-semibold.woff2') format('woff2'),
         url('webfonts/poppins-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaythin';
    src: url('webfonts/raleway_thin-webfont.woff2') format('woff2'),
         url('webfonts/raleway_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General styling */
body {
    margin:             20px 80px;
    font-size:          16px;
    line-height:        1.4;
    font-family:        'poppins_regularregular', Times, 'Times New Roman', serif;
    }

header {
    margin:             80px 20px 80px;
    font-size:          20px;
    font-family:        'poppinssemibold', Times, 'Times New Roman', serif;
    text-align:         center;
    }

p {
    margin:             0 0 1em;
    }

#introduction {
    margin:             80px 0;
    }

#introduction p {
    text-indent:        1em;
    -webkit-hyphens:    auto;
    -moz-hyphens:       auto;
    -ms-hyphens:        auto;
    hyphens:            auto;    
    text-align:         justify;
    }

#alphabetic-statement {
    font-family: 'Courier New', monospace;
    font-size:          18px;
}

@media (min-width: 800px) {
    #introduction {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    column-gap:         1.5em;
    }

}
