/* CSS RESET - Jack Turner style, few enough rules you can grasp it in your mindbrain */
* {
    margin:             0;
    padding:            0;
    }
  
img {
    border:             none;
    vertical-align:     middle;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight:        normal;
    }

html {
    box-sizing:         border-box;
    }

*, *:before, *:after {
    box-sizing:         inherit;
    }

/* Custom fonts */
@font-face {
    font-family: 'poppins_regularregular';
    src: url('webfonts/poppins-regular.woff2') format('woff2'),
         url('webfonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('webfonts/poppins-semibold.woff2') format('woff2'),
         url('webfonts/poppins-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General styling */
body {
    margin:             20px 80px 60px;
    font-size:          16px;
    line-height:        1.4;
    font-family:        'poppins_regularregular', 'Century Gothic', Helvetica, sans-serif;
    }

header {
    margin:             60px 20px 60px;
    font-size:          20px;
    font-family:        'poppinssemibold', 'Century Gothic', Helvetica, sans-serif;
    text-align:         center;
    }

p {
    margin:             0 0 1em;
    }

a {
    color:              black;
    transition:         color ease 300ms;
    }

header a {
        transition:         background-color cubic-bezier(0.785, 0.135, 0.15, 0.86) 300ms;
}

header a:hover,
header a.hover {
        background-color:   #FFF6C2;
    }

/* Introduction on homepage */
#introduction {
    margin:             80px 0 40px;
    }

#introduction p {
    text-indent:        1em;
    -webkit-hyphens:    auto;
    -moz-hyphens:       auto;
    -ms-hyphens:        auto;
    hyphens:            auto;    
    text-align:         justify;
    }

#introduction a.alphabetic-statement-link:hover,
#introduction a.alphabetic-statement-link.hover {
    color:              #E24747;
    }

#introduction a.audio-discussion-link:hover,
#introduction a.audio-discussion-link.hover {
    color:              #4BA346;
    }

#introduction a.video-trailer-link:hover,
#introduction a.video-trailer-link.hover {
    color:              #4E7CDE;
    }

#introduction a.resources-link:hover,
#introduction a.resources-link.hover {
    color:              #A05CD9;
    }

/* Media Links */
#media ul {
    justify-content:    space-around;
    }

#media li {
    list-style:         none;
    }

#media a {
    background-color:   white;
    display:            block;
    text-align:         center;
    padding-bottom:     1em;
    margin-bottom:      20px;
    transition:         background-color ease 300ms;
    }

/*#media a:hover,
#media a.hover {
    background-color:   #F4959A;
    }*/

#media a.alphabetic-statement-link:hover,
#media a.alphabetic-statement-link.hover {
    background-color:   #FAC2C2;
    }

#media a.audio-discussion-link:hover,
#media a.audio-discussion-link.hover {
    background-color:   #C5F4C2;
    }

#media a.video-trailer-link:hover,
#media a.video-trailer-link.hover {
    background-color:   #C2D4FA;
    }

#media img {
    width:              90%;
    }

#media span {
    display:            block;
    }

#media a:hover span {
    color:              black;
    }

#resources a {
    background-color:   white;
    display:            block;
    text-align:         center;
    padding-bottom:     1em;
    margin-bottom:      20px;
    padding-top:        1em;
    margin-top:         20px;
    transition:         background-color ease 300ms;

    }

#resources a:hover,
#resources a.hover {

    background-color:   #DEC1F6;
    }

#resources span {
    display:            block;
    }

/*Alphabetic Staement page*/

#alphabetic-statement {
    font-family: 'Courier New', monospace;
    font-size:          18px;
    }

/*Audio Discussion page*/

#audio-player {
    display: block;
    margin: 10px auto 150px;
}

#audio-page-image {
    display: block;
    margin: 100px auto 10px;
}

/*Video Trailer page*/

video {
    display: block;
    margin: 10px auto 30px;
}

/*Resource page*/

#resources-list {
    text-indent:        -2em;
    padding-left:        2em;
}

#resources-list h2 {
    margin-bottom:       0.5em;
    font-weight:          bold;
}

a.return-to-intro:hover,
a.return-to-intro.hover {
    color:              #F4D000;
    }

/* Responsive stuff - Wide/Desktop version*/
@media (min-width: 800px) {
    #introduction {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    column-gap:         1.5em;
    }

    #media ul {
    display:            flex;
    }
    #media li {
    width:              20%;
    }
}

/* Responsive stuff - Narrow/Mobile version*/

@media    (max-width: 450px) {

    header, body {
    margin:             10px 20px;
    }

   
    }



